.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 100;
    transition: 1s;
}

.logo{
    font-size:25px;
    color: black;
    font-weight: 700;
    transition: 0.5s;

}

.logo:hover{
    font-size: 30px;
    font-weight: 900;
    color: red;

}

.navbar a{
    position: relative;
    font-size: 20px;
    color: black ;
    font-weight: 500;
    margin-left: 30px;
    

}

.header.active{
    background: greenyellow
}

.navbar a::before{
    content: '';
    position: absolute;
    width: 0%;
    top: 100%;
    left: 0;
    height: 2px;
    background: yellow;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
   
}